#magic-elem {
    --theme: 240;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    border-radius: 5px;
    text-align: center;
    display: none;
    width: 550px;
    z-index: 9001;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#magic-elem input {
    border: none !important;
    outline: none !important;
    font-size: 26px !important;
    width: 100% !important;
    text-align: center !important;
    background: hsl(var(--theme), 20%, 20%) !important;
    color: white !important;
    padding: 10px 20px !important;
    font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    margin: 0px !important;
    box-sizing: border-box !important;
    border-radius: 0px !important;
}

#magic-elem input:focus {
    border: none !important;
}

.searchterm {
    padding: 10px 20px;
    text-align: left;
}

.searchbox {
    width: 100%;
    background: hsl(var(--theme), 10%, 30%);
    font-size: 18px;
    color: #ccc;
    font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-weight: normal !important;
}

.searchterm:hover, .searchterm.psuedo-selected {
    background: hsl(var(--theme), 10%, 25%);
    cursor: pointer;
    padding: 10px 20px;
    color: #ccc;
}